* {
    box-sizing: border-box;
    font-family: Ranade-Thin;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

button {
    cursor: pointer;
    width: 20vh;
    height: 6vh;
    border-radius: 3em 3em;
    border: 1px solid black;
    text-align: center;
    line-height: 6vh;
    background-size: 160%;
    background-position: 60% 40%;
    transition: transform 0.2s ease-in-out;
    font-family: Ranade-Thin;
}

#home-button {
    overflow: scroll;
    width: auto;
    min-width: 20vh;
}

#home-button:hover {
    /* background-image: url("../public/yellow.jpg"); */
    /* background-color: rgb(224, 224, 206); */

    transform: none;
}

#members-button:hover {
    /* background-image: url("../public/light-green.jpg");
    background-position: 0% 40%;
    background-size: 140%; */
    background-color: rgb(224, 224, 206);
    transform: none;
}

#add-member-button:hover {
    /* background-image: url("../public/olive.jpg");
    background-position: 40% 0%;
    background-size: 130%; */
    background-color: rgb(224, 224, 206);
    transform: none;
}

#join-board-button:hover {
    /* background-image: url("../public/turquoise.jpg");
    background-position: 40% 0%;
    background-size: 130%; */
    background-color: rgb(224, 224, 206);
    transform: none;
}

#login-button:hover {
    background-image: url("../public/yellow.jpg");
    background-size: 170%;
    transform: none;
    /* background-color: rgb(224, 224, 206); */
}

#logout-button:hover {
    /* background-image: url("../public/dark-blue.jpg");
    background-position: 40% 0%;
    background-size: 130%; */
    background-color: rgb(224, 224, 206);
    transform: none;
}

#generate-code {
    width: auto;
}

.nav-bar .nav-button:hover {
    transform: scale(1.01);
    background-image: none;
}

button:hover {
    transform: scale(1.01);
}

.nav-bar {
    padding-top: 2vh;
    padding: bottom 2vh;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5vw;
    border-bottom: 1px solid black;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.1);
}

.nav-bar .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar button {
    margin-left: 1vw;
    background-color: white;
}

.nav-bar .profile-pic {
    margin-left: 4vh;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
    flex-shrink: 0;
}

.nav-bar .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member-pic {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
}

.member-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-bar .board-title h1 {
    margin-left: 10vh;
    font-size: 1.2em;
}

.nav-bar .board-title input {
    margin-left: 2vh;
    padding: 1vh;
}

.nav-popup {
    position: absolute;
    top: 11.9vh;
    right: 30vh;
    background-color: white;
    width: 20vw;
    min-height: 20vh;
    padding: 2vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.nav-popup li,
.move-popup li {
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
    align-items: center;
}

.nav-popup li p,
.move-popup li p {
    margin-top: 2vh;
}

.nav-popup p,
.nav-popup input,
.nav-popup button {
    margin-bottom: 2vh;
}

button.user-info {
    display: flex;
    align-items: center;
}

button.user-info p {
    margin-left: 2vh;
}

.main-app {
    width: 100vw;
    min-height: 88vh;
    padding: 5vh;
    overflow-x: hidden;
    /* background-color: rgb(159, 159, 118); */
    /* background-color: rgb(224, 224, 206); */
    background-color: rgb(255, 255, 255);
}

.board-list {
    margin-top: 8vh;
    margin-left: 4vh;
}

.board-list li {
    display: flex;
    align-items: baseline;
}

.board-list li h2 {
    text-decoration: none;
    margin-right: 2vh;
}

.home .nav-button {
    margin-left: 4vh;
}

.add-board-popup {
    margin-left: 4vh;
}

.add-board-popup form {
    margin-top: 8vh;
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.add-board-popup form input {
    width: 20vw;
    padding: 2vh;
    font-size: 1.1em;
}

.board-container {
    width: 100vw;
    margin-left: 1vw;
    overflow-x: scroll;
    padding: 2vh;
}

.stacks-container {
    margin-left: -6vw;
    width: 100%;
    min-height: 58vh;
}

.stacks-container .stacks {
    min-width: 100%;
    height: 100%;
    margin-left: 4vh;
    margin-right: 4vh;
    padding: 8vh;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

.stacks-container .stack {
    flex-shrink: 0;
    padding: 2vh;
    min-width: 24vw;
    min-height: 40vh;
    margin-right: 4vh;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.04),
        -2px -2px 40px rgba(0, 0, 0, 0.04);
}
.stacks-container .stack:hover {
    /* background-image: url("../public/painting-green.jpg");
    background-size: 140%; */
}

.stacks-container .stack h2 {
    font-size: 1em;
    margin-left: 2vh;
    color: rgb(88, 88, 88);
    text-transform: uppercase;
}

.stacks-container .stack .stacklist {
    display: flex;
    flex-direction: column;
    min-width: 24vw;
    min-height: 40vh;
}

.stacks-container .stack .add-item {
    margin-left: 4vh;
}

.add-popup form {
    padding: 2vh;
    border: 1px solid black;
}

.add-popup form > div {
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.add-popup label {
    margin-right: 2vh;
}

.add-popup input {
    height: 4vh;
}

.stacks-container .card {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: white;
    border: 1px solid black;
    border-radius: 2vh;
    padding-right: 2vh;
    padding-left: 2vh;
    margin-bottom: 1vh;
    min-height: 6vh;
    height: auto;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.06),
        -2px -2px 40px rgba(0, 0, 0, 0.06);
}

.stacks-container .card .user-icon .member-pic {
    width: 3vh;
    height: 3vh;
    position: relative;
    bottom: -0.5vh;
}

.stacks-container .card h4 {
    margin-top: 1.6vh;
}

.card-background {
    cursor: default;
    left: 0;
    top: 0;
    position: absolute;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(209, 209, 209, 0.8);
}

.card-view {
    margin-top: 10vh;
    height: 86vh;
    width: 40vw;
    padding: 2vh;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08),
        -2px -2px 40px rgba(0, 0, 0, 0.08);
    z-index: 4;
}

.scroll-box {
    padding: 2vh 0;
    overflow: scroll;
    height: 82vh;
}

.card-view .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.nav-button {
    width: 8vh;
    margin-left: 2vh;
    background-color: transparent;
    border: 1px solid transparent;
}

.nav-button:hover {
    background-image: none;
    background-color: rgba(209, 209, 209, 0.2);
    border: 1px solid black;
}

.card-view .card-container {
    padding: 2vh;
    border: 1px solid black;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.06),
        -2px -2px 40px rgba(0, 0, 0, 0.06);
}

.card-view .card-container > p {
    font-size: 0.9em;
}

.card-view h4 {
    margin-bottom: 0.2vh;
}

.card-view .description p {
    padding: 2vh;
    border: 1px solid black;
}

.card-view .description textarea {
    width: 100%;
    min-height: 10vh;
}

.card-view .card-link p {
    padding: 0.6vh 2vh;
    border: 1px solid black;
}

.link-preview {
    width: 40vw;
    max-height: 30vw;
    position: absolute;
    overflow: hidden;
    border: 1px solid black;
    background-color: white;
    border-radius: 5vh;
    z-index: 5;
    top: 2vh;
    right: 4vw;
}

.link-preview img {
    width: 100%;
    object-fit: contain;
}

.card-view .no-link {
    padding: 2vh;
    border: 1px solid black;
}

.card-view .card-container:first-child {
    font-family: Ranade-ThinItalic;
}

.card-view .comments {
    padding: 2vh;
    border: 1px solid black;
    margin-top: 7vh;
}

.card-view .comment .user-pic {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
    align-self: center;
}

.card-view .comment .user-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-view .comment {
    display: flex;
    padding: 1vh 2vh;
    border: 1px solid black;
    margin-top: 2vh;
}

.card-view .comment .content {
    margin-left: 2vh;
}

.card-view .comment .content span {
    font-size: 0.8em;
}

.card-view .comment .content:first-child {
    font-family: Ranade-Bold;
    margin-top: 6vh;
}
.card-view .comment .content:last-child {
    line-height: normal;
    text-align: justify;
}

.card-view .popup form {
    display: flex;
    flex-direction: column;
}

.card-view .popup form textarea {
    min-height: 8vh;
    resize: none;
}

.card-view .popup form .buttons {
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
}

.card-view h4 {
    text-transform: uppercase;
    font-size: 0.9em;
    margin-top: 4vh;
}

.options-view {
    margin-top: 10vh;
    width: 17vw;
    padding: 4vh;
    margin-left: 2vh;
    height: 50vh;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.options-view > button {
    margin-bottom: 2vh;
}

.options-view .move-popup {
    position: absolute;
    top: 62vh;
    background-color: white;
    border: 1px solid black;
    padding: 2vh;
    width: 17vw;
    margin-left: -4vh;
    display: flex;
    flex-direction: column;
}

.options-view .move-popup button {
    margin-bottom: 2vh;
    margin-left: 2vh;
}

.card-view .move-popup li {
    cursor: pointer;
}

#chat-button {
    position: absolute;
    padding: 2vh;
    right: 7vw;
    top: 16vh;
    width: 8vh;
    background-image: url("../public/chat1.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50%;
    z-index: 1;
}

.notification {
    position: absolute;
    background-color: rgb(255, 63, 41);
    right: 7vw;
    top: 16vh;
    width: 1.8vh;
    height: 1.8vh;
    border-radius: 50%;
    z-index: 2;
    border: 1px solid black;
    box-shadow: -2px 0 5px white, 2px 1px 5px white, -1px 1px 5px white;
}

.chat-container {
    position: absolute;
    /* background-image: url("../public/painting-green.jpg"); */
    background-color: rgb(224, 224, 206);
    right: 0;
    top: 12vh;
    padding: 2vh;
    padding-top: 12vh;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 27vw;
    min-height: 88vh;
    /* background-color: rgb(228, 228, 228); */
    transition: all 0.3 ease-in-out;
    box-shadow: -2px 0px 40px rgba(0, 0, 0, 0.3);
    /* animation: 0.6s ease-out 0s 1 slideIn forwards; */
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.chat-container span {
    position: absolute;
    right: 4vh;
    top: 4vh;
}

.chat-container ul {
    height: 52vh;
    overflow: scroll;
}

.chat-container li {
    display: flex;
}

.chat-container li > .user-pic {
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    overflow: hidden;
    align-self: center;
    margin-right: 2vh;
    flex-shrink: 0;
}

.chat-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-container li > .message-content {
    align-self: flex-start;
    border-radius: 2vh;
    padding: 2vh;
    border: 1px solid black;
    margin-top: 2vh;
    width: 82%;
    box-shadow: 2px 0px 40px rgba(0, 0, 0, 0.1);
}

.chat-container li > .message-content p {
    font-size: 0.85em;
}

.chat-container li > .message-content .date {
    font-size: 0.8em;
}

.chat-container .message-container {
    background-color: white;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 2vh;
}

.chat-container .message-container .buttons {
    display: flex;
    justify-content: space-around;
}

.chat-container textarea {
    width: 23vw;
    resize: none;
    min-height: 10vh;
    padding: 1vh;
    margin-bottom: 2vh;
    margin-top: 0.6vh;
}

.welcome {
    position: absolute;
    top: 12vh;
    left: 0;
    width: 100vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome .logo {
    width: 45vw;
    height: 30vw;
    background-image: url("../public/welcome.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: appear 3s ease-in-out 0s 1 forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.welcome .logo h1 {
    color: white;
    font-size: 3.6em;
    margin-left: -6vw;
    margin-top: 4vh;
}

@font-face {
    font-family: Ranade-Bold;
    src: url("../public/Ranade-Bold.otf");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Ranade-Regular;
    src: url("../public/Ranade-Regular.otf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Ranade-Thin;
    src: url("../public/Ranade-Thin.otf");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Ranade-ThinItalic;
    src: url("../public/Ranade-ThinItalic.otf");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}

@media only screen and (max-width: 600px) {
    .stacks-container .stacks {
        flex-direction: column;
        width: 98vw;
    }

    .stacks-container .stack {
        widtb: 80vw;
    }
}

/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
} */
