* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

button {
    width: 20vh;
    height: 6vh;
    border-radius: 3em 3em;
    border: 1px solid black;
    text-align: center;
    line-height: 6vh;
    background-size: 160%;
    background-position: 60% 40%;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    background-image: url("../public/yellow.jpg");
    transform: scale(1.04);
}

.nav-bar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5vw;
    border-bottom: 1px solid black;
}

.nav-bar .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar button {
    margin-left: 1vw;
}

.nav-bar .profile-pic {
    margin-left: 4vh;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
}

.nav-bar .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-bar .member-pic {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
}

.nav-bar .member-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-bar .board-title {
    margin-left: 10vh;
    font-size: 1.6em;
}

.nav-popup {
    position: absolute;
    top: 10vh;
    right: 30vh;
    background-color: white;
    width: 20vw;
    min-height: 20vh;
    padding: 2vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.home {
}

.main-app {
    width: 100vw;
    padding: 5vh;
    overflow-x: hidden;
}

.board-container {
    padding: 4vh;
}

.stacks-container {
    width: 100%;
    min-height: 60vh;
}

.stacks-container .stacks {
    width: 100%;
    height: 100%;
    padding: 10vh;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    background-color: white;
}

.stacks-container .stack {
    padding: 2vh;
    width: 20vw;
    min-height: 40vh;
    margin-right: 4vh;
    border: 1px solid black;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.06),
        -2px -2px 40px rgba(0, 0, 0, 0.06);
}

.stacks-container .stack h2 {
    font-size: 1.2em;
    margin-left: 2vh;
    color: rgb(88, 88, 88);
    text-transform: uppercase;
}

.stacks-container .stack ul {
    display: flex;
    flex-direction: column;
}

.stacks-container .stack .add-item {
    margin-left: 4vh;
}

.stacks-container .card {
    border: 1px solid black;
    border-radius: 2vh;
    padding-right: 2vh;
    padding-left: 2vh;
    margin-bottom: 2vh;
}

.card-background {
    left: 0;
    top: 0;
    position: absolute;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(209, 209, 209, 0.8);
}

.card-view {
    margin-top: 14vh;
    padding: 4vh;
    background-color: white;
    border: 1px solid black;
}

.card-view .comment .user-pic {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
}

.card-view .comment .user-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.options-view {
    padding: 4vh;
    margin-left: 2vh;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.options-view > button {
    margin-bottom: 2vh;
}

#chat-button {
    position: absolute;
    left: 87vw;
    top: 20vh;
}

.chat-container {
    position: absolute;
    right: 0;
    top: 10vh;
    padding: 2vh;
    padding-top: 12vh;
    border-left: 1px solid black;
    width: 27vw;
    min-height: 90vh;
    background-color: rgb(209, 209, 209);
    transition: all 0.3 ease-in-out;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.06),
        -2px -2px 40px rgba(0, 0, 0, 0.06);
}

.chat-container span {
    position: absolute;
    right: 4vh;
    top: 4vh;
}

.chat-container ul {
    height: 54vh;
    overflow: scroll;
}

.chat-container li {
    display: flex;
}

.chat-container li > .user-pic {
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    overflow: hidden;
    align-self: flex-start;
}

.chat-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-container li > .message-content {
    align-self: flex-start;
    border-radius: 2vh;
}

.chat-container .message-container {
    background-color: white;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 2vh;
}

.chat-container .message-container .buttons {
    display: flex;
}

.chat-container textarea {
    width: 23vw;
    resize: none;
    min-height: 10vh;
    padding: 1vh;
    margin-bottom: 2vh;
    margin-top: 0.6vh;
}

/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
} */
